body { 
    font-family: Arial, sans-serif; 
    margin: 30px; 
}

p { 
    margin: 10px 0; 
    font-weight: bold; 
}

button { 
    margin: 10px 0; 
}

input { 
    margin-bottom: 10px; 
}
